{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    each product ensure our quality combination for our customer
{% endblock %}

{% block title %}
SEARCH
{% endblock %}
{% block content %}
<div><p class="text-center my_search">You have searched for <b>"{{query}}"</b></p> </div>
<div class="row mx_auto">
        {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4 ">
         <div class="card text-center" style="min-width:18rem;">
            <a href="{{product.get_url}}">
             <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}">
            <h3>{{product.name}}</h3>
            <p>{{product.price}}</p>
         </div>

        {% empty %}
            <div class="row mx_auto">
            <p class="text-center  my_search ">no result found </p>
            </div>
        {% endfor %}
    </div>
        <br>
</div>
{% endblock %}